@page "/"

<h1>Conquiste o certificado da Missão Blazor.</h1>

<p>Seguiu nosso roteiro oficial? Está pronto pra provar seus conhecimentos e conquistar o seu certificado grátis?</p>

<p><a href="/teste">Fazer o teste agora!</a></p>
