@page "/roteiro"

<h1>Roteiro Oficial</h1>

<p>
    Por enquanto esse roteiro ainda é um rascunho. Sugestões são bem vindas.<br />
    Existe muito material bom sobre Blazor na Net. Vamos dar preferência aqui ao material produzido pelos membros ativos do grupo.
</p>


<ol class="spacedList">
    <li>
        Artigo do Eduardo Pires<br />
        <a href="https://tinyurl.com/yawx3eeq" target="_blank">https://tinyurl.com/yawx3eeq</a>
        <br />
    </li>

    <li>
        Introdução técnica do Steve Sanderson<br />
        <a href="https://tinyurl.com/ybghdk64" target="_blank">https://tinyurl.com/ybghdk64</a>
        <br />
    </li>

    <li>
        Conhecer o padrão webAssembly<br />
        <a href="https://webassembly.org/" target="_blank">https://webassembly.org/</a>
        <br />
    </li>

    <li>
        Assistir apresentação do Renato Haddad.<br />
        <a href="https://www.eventials.com/Globalcode/tdc-floripa-2018-stadium-sabado-6/" target="_blank">https://www.eventials.com/Globalcode/tdc-floripa-2018-stadium-sabado-6/</a>
        <br />
    </li>
</ol>


<h2>Precisamos da sua ajuda</h2>

<p>// TODO: manja de vídeo? Precisamos de um passo-a-passo criando um app simples. Bora contribuir.</p>




