@page "/diario"

<h1>Diário do Grupo</h1>

<p>
    Saiba tudo que rolou no grupo com esse resumo diário.<br />

    Material bruto aqui. Pra estudar pra prova o mais indicado eh o <a href="/roteiro">ROTEIRO OFICIAL</a>.

</p>

<p>//TODO: Criar api de diário, consumir, listar e exibir.<br />
    // Talvez usar um CMS como backend? </p>
